@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-family: 'Prata', serif;
}

.box {
  box-shadow: #00000033 0px 0px 32px, #0f5bce5e 0px 2px 32px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.lang-option-box {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  margin-bottom: 5px;
}

.lang-option-box .exchange {
  margin: 0 1em;
}

.lang-option-box div select {
  font-size: 20px;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 5px;
}

.main-box {
  display: flex;
  justify-content: center;
  transition: all 0.3 ease;
}

.input-box,
.output-box {
  border: 1px solid #c7c7c780;
  border-radius: 8px;
  padding: 10px;
  margin: 0 1em 1em;
}

.output-box {
  border: none;
  background-color: #c7c7c748;
}

.input-box textarea,
.output-box textarea {
  outline: none;
  border: none;
  resize: none;
  background-color: #ffffff00;
  height: 100px;
  width: 20em;
  font-size: 20px;
}

.options {
  display: flex;
  list-style-type: none;
}
.input-box .options {
  justify-content: flex-start;
}
.output-box .options {
  justify-content: flex-end;
}

.all-icon {
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  transition: background-color 0.5s ease;
  transition: 0.3s ease;
}
.all-icon:hover {
  background-color: #c7c7c7a2;
}

.link {
  margin: 30px 0;
  text-align: center;
}
.link-a {
  text-decoration: none;
  color: black;
  transition: 0.3s ease;
}
.link a i {
  margin-right: 4px;
}
.link:hover {
  text-decoration: underline;
}

/* ---- Responsive ---- */

@media (max-width: 930px) {
  .main-box {
    flex-wrap: wrap;
  }
}

@media (max-width: 480px) {
  .input-box textarea,
  .output-box textarea {
    width: 15em;
  }
}

@media (max-width: 412px) {
  .box {
    width: 85%;
    padding-left: 5px;
    padding-right: 5px;
  }
  .input-box textarea,
  .output-box textarea {
    width: 15em;
  }
  .lang-option-box div select {
    font-size: 15px;
    width: 5em;
    height: 30px;
  }
}

/* ---- Dark mode ---- */

.body-dark {
  background-color: black;
}

.select-dark {
  background-color: black;
  color: white;
}

.textarea-dark {
  color: white;
}

.all-icon-dark {
  color: white;
  transition: 0.3s ease;
}

.link-dark {
  color: white;
  transition: 0.3s ease;
}
.link-dark:hover {
  text-decoration: underline;
}
