body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #161a30;
  overflow-y: hidden;
}

.container {
}

.gameScore {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f0ece5;
}
#gameScore {
  font-size: 65px;
}

.gameBoard {
  width: 320px;
  height: 320px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.gameBoard .cell {
  width: 77px;
  height: 77px;
  background-color: #31304d;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  color: #000;
}

.cell[data-value="2"] {
  background-color: #ffc0cb;
}

.cell[data-value="4"] {
  background-color: #add8e6;
}

.cell[data-value="8"] {
  background-color: #98fb98;
}

.cell[data-value="16"] {
  background-color: #ffd700;
}

.cell[data-value="32"] {
  background-color: #ffa07a;
}

.cell[data-value="64"] {
  background-color: #87ceeb;
}

.cell[data-value="128"] {
  background-color: #ffff00;
}

.cell[data-value="256"] {
  background-color: #40e0d0;
}

.cell[data-value="512"] {
  background-color: #ff69b4;
}

.cell[data-value="1024"] {
  background-color: #7b68ee;
}

.cell[data-value="2048"] {
  background-color: #ff6347;
}

.cell[data-value="4096"] {
  background-color: #a9a9a9;
}

.gameOver {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  transform: translate(-50%, -50%);
  background-color: #000000ef;
  color: #fff;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-shadow: 10px 10px 100px black;
}
#restart {
  width: 25px;
  height: 25px;
  font-size: 25px;
  color: #b6bbc4;
}
#restart:hover {
  color: #f0ece5;
}

.Controller {
  display: none;
  margin: 40px 0 0 0;
  justify-content: space-evenly;
}

.Controller i {
  font-size: 30px;
  margin: 0 20px;
  color: #b6bbc4;
}

.Controller i:hover {
  color: #f0ece5;
}

.game-cell[data-value] {
  transition: transform 0.5s, background-color 0.5s;
}

.new-cell {
  animation: appear 0.4s;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 1024px) {
  .Controller {
    display: flex;
  }
}
