* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 5%;
}

.header {
  margin: 0 0 100px 0;
  text-align: center;
}
.eq {
  margin: 20px;
}

input {
  font-size: 16px;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #ca5303;
  background-color: transparent;
}

input:focus {
  border-bottom: 2px solid #ca5303;
}

.buttons {
  display: flex;
  justify-content: center;
}
.buttons button {
  width: 50%;
  height: 28px;
  border: none;
  border-radius: 5px;
  background-color: #ca5303ac;
}

.buttons button:hover {
  background-color: #ca5303;
}

textarea {
  resize: none;
  border: none;
  background-color: #ca530316;
  color: #ca5303;
  text-align: center;
}
